applications:
  ud-ldap-server:
    charm: "{{ CHARM_DIR }}/userdir-ldap_ubuntu-22.04-amd64-arm64_ubuntu-20.04-amd64-arm64.charm"
  ud-ldap-client:
    charm: "{{ CHARM_DIR }}/userdir-ldap_ubuntu-22.04-amd64-arm64_ubuntu-20.04-amd64-arm64.charm"
